spring:
  application:
    name: Spring-ai

  profiles:
    active: local

  ai:
    ollama:
      chat:
        options:
          model: qwen3:0.6b

    openai:
      chat:
        options:
          model: gpt-4o-mini
      embedding:
        options:
          model: text-embedding-3-small

    vectorstore:
      pgvector:
        initialize-schema: true
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
            table-name: chat_memory

    sql:
      init:
        mode: always


jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    org.springframework.ai:
      chat.client: DEBUG
