spring:
  application:
    name: AOP

  datasource:
    url: jdbc:postgresql://localhost:5432/aop
    username: postgres
    password: choudhary@3566

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
